---
layout: default
title: Work
permalink: /work/
---

<h1>work</h1>

{% assign commercial = site.projects | where: "category", "commercial" | sort: "year" | reverse %}

<div class="project-mosaic">
    {% for project in commercial %}
    <a href="{{ project.url | prepend: site.baseurl }}" class="mosaic-card">
        {% if project.video %}
        <div class="mosaic-thumb" style="background-image: url('https://img.youtube.com/vi/{{ project.video }}/hqdefault.jpg')"></div>
        {% elsif project.image %}
        <div class="mosaic-thumb" style="background-image: url('{{ site.baseurl }}/assets/images/{{ project.image }}')"></div>
        {% else %}
        <div class="mosaic-thumb no-image"></div>
        {% endif %}
        <div class="mosaic-info">
            <p class="mosaic-title">{{ project.title }}</p>
            <p class="mosaic-meta">{{ project.year }}</p>
        </div>
    </a>
    {% endfor %}
</div>
